<div class="row">
  <div class="col-md-12">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <%= link_to 'Locations', admin_locations_path, class: 'btn btn btn-outline-success btn-lg form-control' %>
  </div>
  <div class="col-md-4">

  </div>
</div>
