<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="small text-muted">Copyright &copy; 2020 David Routen | Email us at <a href="mailto:support@openintheheights.com" class="text-primary" target="_blank">support@openintheheights.com</a> if you notice any inconsistencies or with any suggestions.</div>
</nav>